@font-face {
    font-family: "Cursed Timer";
    src: url("fonts/cursedtimer.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1B1429;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 750px;
    padding: 2rem 1rem;
    margin: 1rem auto;
    background-color: #2A2141; 
    border: 4px solid #4B3E72;
    border-radius: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    text-align: center;
}

.team-heading {
    margin-top: 4rem;
    color: #E3DFF2;
    font-family: 'Verdana', sans-serif; 
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 150px;
    margin: 3rem auto;
    background-color: #1B1429;
    border: 2px solid #FBBF24;
    border-radius: 20px;
}

.score {
    color: #FBBF24; 
    font-family: "Cursed Timer", sans-serif;
    font-size: 100px;
    text-shadow: 0 0 10px #A682FF;
}

.winner-highlight {
    border: 4px solid #FBBF24;
    box-shadow: 0 0 20px rgba(251, 191, 36, 0.6);
    transition: all 0.3s ease;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    width: 80px;
    height: 60px;
    background-color: #3E325A; 
    border: 2px solid #E3DFF2;
    border-radius: 12px;
    color: #E3DFF2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #FBBF24;
    border: 2px solid #E3DFF2;
    border-radius: 12px;
    color: #3E325A;
}

.new-game-btn {
    display: block;
    width: 180px;
    height: 60px;
    margin: 2rem auto;
    border-color: #FBBF24;
    color:#FBBF24;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-height: 700px) {
    body {
        height: 100vh;
        overflow: hidden;
    }
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        gap: 2rem;
    }
    
    .container {
        margin: 1rem auto;
        border-radius: 20px;
    }
}
